body {
    background-color: #f4f4f4;
}
p {
    font-size: 16px;
    font-family:Arial;
}
h1, h2, h3,h4, h5 {
    color:#008B8B;
    font-family:'Arial';
}
h1{
    font-size: 100px;
    text-align: center;
    background-image: linear-gradient(135deg, #0ac9d7 0%, #0ad677 100%);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}
h2,h3,h5 {
    text-align: center;
}
#lema {
    font-size: 25px;
    color: #008B8B;
    text-align: center;
    font-weight: bold;
}
#happygirl{
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    width: 100%;
    z-index: 1;
    border-radius: 50%;
    }
header {
    background: linear-gradient(135deg, #0ac9d7 0%, #0ad677 100%);
    color: white;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
#navmenu {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    display: flex;
    list-style: none;
    gap: 2rem;
}
.container {
  position: relative;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 550px;
  background-color: #00997a;
  border-radius: 50%;
  z-index: 0;
}
.equipe {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px 0;
  align-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  text-align: justify;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#Rafa {
    width: 80%;
    align-items: center;
    margin-left: 10%;
}
#Lari {
    width: 80%;
    align-items: center;
    margin-left: 10%;
}
#Pdr {
    width: 80%;
    align-items: center;
    margin-left: 10%;
}
ul {
    list-style: none;
}